@keyframes navbar{

    from{
        transform: translateY(-200px);
    }

    to{
        transform: translateY(0px);
    }

}

@keyframes left{
    from{
        transform: translateX(-700px);
    }

    to{
        transform: translateX(0px);

    }
}

@keyframes right{
    from{
        transform: translateX(700px);
    }

    to{
        transform: translateX(0px);

    }
}